:root{
--Violet: hsl(257, 40%, 49%);
--Soft-Magenta: hsl(300, 69%, 71%);


--ff-po: 'Poppins', sans-serif;
--ff-Op: 'Open Sans', sans-serif;
}

*,
*::before,
*::after,
html{
    box-sizing: border-box;
    font-size: 16px;
}


body{
    background-color: hsl(256, 40%, 49%);
    background-image: url(images/bg-mobile.svg);
    background-repeat: no-repeat;
    /* background-position-x: center; */
    margin: 0;
}

.main-content{
    width: 80%;
    margin: 0 auto;
}


.logo-image{
    margin-top: 1rem;
    width: 200px;
}
.mockup-img{
    padding-block: 5rem;
    max-width: 300px;
}

.hero-desc{
    padding-block: 1rem;
    text-align: center;

    & h1{
        color: #fff;
        font-family: var(--ff-po);
        font-size: 1.6rem;
    }

    & p{
        color: #ffffffd2;
        font-family: var(--ff-Op);
        font-size: 1rem;
        line-height: 1.6;
        /* text-wrap: balance; */
    }

    .btn{
        background-color: #fff;
        color: var(--Violet);
        padding: .8rem 5rem;
        margin-block: 2rem 5rem;
        border: none;
        border-radius: 30px;
        box-shadow: 3px 3px 20px #0000004c;
    }

    .btn:hover{
        background-color: var(--Soft-Magenta);
        color: #fff;
        cursor: pointer;
    }
}


.social-sites{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    font-size: 6rem;
    color: #fff;
    padding-block: 1rem 4rem;
    
    & i{
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 6px;
    }
}



@media (min-width: 500px){

    body{
        background-image: url(images/bg-desktop.svg);
        background-repeat: no-repeat;
    }
       
    .main-content{
        width: 90%;
        margin: 0 auto;
    } 

    .mockup-img{
        padding-block: 5rem;
        width: 100%;
        max-width: 550px;
    } 

    .hero-desc{
        text-align: left;

        & h1{
            font-size: 1.6rem;
            width: 60%;
        }

        & p{
            width: 80%;
        }
    }

    .landingPage-desc{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.7rem;
        align-items: center;
    }

    .social-sites{
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
}

